.fila {
    float: left;
    /*width: 100%;*/
    width: 85%;
    /*background: #58c03c;*/
}

.columna {
    float: left;
    width: 25%;
}

.g-form input {
    width: 80%;
}

div.seccionGastos {
    clear: both;
}

div.seccionGastos table {
    border-collapse: collapse;
    width: 100%;
}

div.seccionGastos table tr td {
    border: 1px solid #000;
}

div.seccionGastos table tr:hover td {
    background: #ebebeb;
}

div.seccionGastos table tr > td:nth-child(1) {
    text-align: center;
}

div.seccionGastos table tr > td:nth-child(5) {
    text-align: center;
}

div.seccionCuentas table {
    border-collapse: collapse;
    width: 99.9%;
}

div.seccionCuentas table tr th {
    border: 1px solid #000;
    background: #000;
    opacity: 0.6;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
} 

div.seccionCuentas table tr td {
    border: 1px solid #000;
    text-align: center;
} 

div.seccionCuentas input {
    color: #222;
    border: 1px solid #CECECE;
    font-family: 'Open Sans', sans-serif;
}

.tabla-presupuesto label.error_characters {    
    color: #ff5247 !important;
}

.tabla-presupuesto input.error_characters {
    border: 1px solid #ff5247 !important;    
}