h1 {
	padding: 1em 0;
	text-align: center;
}

.g-form {
	/*background: #58c03c;*/
	margin: 0 auto;
	padding: 30px;
/*	width: 310px;*/
	color: #222;
	font-family: 'Segoe UI Light', 'Segoe UI', 'Open sans', Arial, Sans;
	font-size: 16px;
	line-height: 1.5em;
}

.g-form h2 {
	font-size: 3em;
	line-height: 1em;
	margin: 0 0 0.5em;
}

.g-form label {
	display: block;
	margin: 0 0 5px;
	cursor: pointer;
}

.g-form select,.g-form textarea,.g-form input[type="text"],.g-form input[type="password"],.g-form input[type="datetime"],.g-form input[type="datetime-local"],.g-form input[type="date"],.g-form input[type="month"],.g-form input[type="time"],.g-form input[type="week"],.g-form input[type="number"],.g-form input[type="email"],.g-form input[type="url"],.g-form input[type="search"],.g-form input[type="tel"],.g-form input[type="color"],.g-form .uneditable-input {
	font-size: 14px;
	
	background: #fff;
	margin: 0 0 20px;
	padding: 8px 10px;
	display: block;
	/*width: 290px;*/
}

.g-form select:focus,.g-form textarea:focus,.g-form input[type="text"]:focus,.g-form input[type="password"]:focus,.g-form input[type="datetime"]:focus,.g-form input[type="datetime-local"]:focus,.g-form input[type="date"]:focus,.g-form input[type="month"]:focus,.g-form input[type="time"]:focus,.g-form input[type="week"]:focus,.g-form input[type="number"]:focus,.g-form input[type="email"]:focus,.g-form input[type="url"]:focus,.g-form input[type="search"]:focus,.g-form input[type="tel"]:focus,.g-form input[type="color"]:focus,.g-form .uneditable-input:focus {
	outline: none;
	color: #000;
}

.g-form select:-moz-placeholder,.g-form textarea:-moz-placeholder,.g-form input[type="text"]:-moz-placeholder,.g-form input[type="password"]:-moz-placeholder,.g-form input[type="datetime"]:-moz-placeholder,.g-form input[type="datetime-local"]:-moz-placeholder,.g-form input[type="date"]:-moz-placeholder,.g-form input[type="month"]:-moz-placeholder,.g-form input[type="time"]:-moz-placeholder,.g-form input[type="week"]:-moz-placeholder,.g-form input[type="number"]:-moz-placeholder,.g-form input[type="email"]:-moz-placeholder,.g-form input[type="url"]:-moz-placeholder,.g-form input[type="search"]:-moz-placeholder,.g-form input[type="tel"]:-moz-placeholder,.g-form input[type="color"]:-moz-placeholder,.g-form .uneditable-input:-moz-placeholder,.g-form select:-ms-input-placeholder,.g-form textarea:-ms-input-placeholder,.g-form input[type="text"]:-ms-input-placeholder,.g-form input[type="password"]:-ms-input-placeholder,.g-form input[type="datetime"]:-ms-input-placeholder,.g-form input[type="datetime-local"]:-ms-input-placeholder,.g-form input[type="date"]:-ms-input-placeholder,.g-form input[type="month"]:-ms-input-placeholder,.g-form input[type="time"]:-ms-input-placeholder,.g-form input[type="week"]:-ms-input-placeholder,.g-form input[type="number"]:-ms-input-placeholder,.g-form input[type="email"]:-ms-input-placeholder,.g-form input[type="url"]:-ms-input-placeholder,.g-form input[type="search"]:-ms-input-placeholder,.g-form input[type="tel"]:-ms-input-placeholder,.g-form input[type="color"]:-ms-input-placeholder,.g-form .uneditable-input:-ms-input-placeholder,.g-form select::-webkit-input-placeholder,.g-form textarea::-webkit-input-placeholder,.g-form input[type="text"]::-webkit-input-placeholder,.g-form input[type="password"]::-webkit-input-placeholder,.g-form input[type="datetime"]::-webkit-input-placeholder,.g-form input[type="datetime-local"]::-webkit-input-placeholder,.g-form input[type="date"]::-webkit-input-placeholder,.g-form input[type="month"]::-webkit-input-placeholder,.g-form input[type="time"]::-webkit-input-placeholder,.g-form input[type="week"]::-webkit-input-placeholder,.g-form input[type="number"]::-webkit-input-placeholder,.g-form input[type="email"]::-webkit-input-placeholder,.g-form input[type="url"]::-webkit-input-placeholder,.g-form input[type="search"]::-webkit-input-placeholder,.g-form input[type="tel"]::-webkit-input-placeholder,.g-form input[type="color"]::-webkit-input-placeholder,.g-form .uneditable-input::-webkit-input-placeholder {
	color: #91d37f;
}

.g-form input[type="checkbox"] {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	background: none;
	border: 1px solid #000;
	outline: none;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 10px 0 0;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
}

.g-form input[type="checkbox"]:checked:after {
	display: block;
	content: '';
	width: 15px;
	height: 7px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	left: 3px;
	top: 0px;
}

.g-form button[type="button"],.g-form input[type="button"],.g-form button[type="reset"],.g-form input[type="reset"],.g-form button[type="submit"],.g-form input[type="submit"] {
	border: 0;
	background: #fff;
	color: #58c03c;	
}

.g-form button:hover,.g-form input:hover,.g-form button:focus,.g-form input:focus,.g-form button:active,.g-form input:active {
	color: #234b18;
}

.g-form-controls {
	/*margin: 3em 0 0;*/
	margin: 1.8em 0 0;
}
